body {
	background-color: #431A02;
	font-family:Courier New;
}

a{
	color: #7B3A01;
	}

#container {
	background-color: #346101;
	width: 1200
	margin-left: auto;
	margin-right: auto;
	}

#header {
	background-color: #CFF582;
	color: #346101;
	text-align: center;
	font-size:32px;
	padding: 0.5px;
	}

#content {
	padding: 50px;
	}

#q {
	padding: 30px;
	text-align:left;
	width: 600px;
	float: left;
	background-color: #CFF582;
	color: #346101;
	font-size: 10x;
	}


#pic {
	width: 1700px;
	float: right;
	}

#results {
	clear: both;
	padding: 10px;
	text-align: center;
	color: #346101;
	background-color: #CFF582;
	font-size: 25px;
	}

.selected {
	font-width: bold;
	}



